<div class="bg"></div>
<div class="p-bd">
<div class="g-hd">
<h1>Achilles's Blog</h1>
<h2 style="color: white;">すべての出会いが 美しい とは限らない。 すべての別れが 悲しい とは言えない。</h2>
</div>

<div class="g-mn">
 <div class="row">
    <div class="span9 offset4">

<% @blogs.each do |blog| %>
  <div style="margin-top: 50px;">
    <a href= "/blogs/<%= blog.id %>" class="blog_title"><h3><%= blog.title %></h3></a><br />

    <div style="color:rgb(188, 54, 10); font-size:14px; font-family: monospace, serif;">
    
    <span><i class="icon-time"></i>&nbsp;<%= get_month(blog.updated_at.month) %>&nbsp;<%= blog.updated_at.day %>,<%= blog.updated_at.year %></span>

    <span style="margin-left: 10px;"><i class="icon-tags"></i>&nbsp;<%= blog.tags.map{ |t| t.name }.join(", ") %></span>

    <span style="margin-left: 10px;"><i class="icon-user"></i>&nbsp;<%= find_author blog.user_id %></span>

    </div>

    <br />
    <div id="hidden_blog<%= blog.id %>" type="hidden" style="display: none;">
    <%= truncate(blog.content, length: 2000) %>
    </div>
    <div id="blog_content<%= blog.id %>" >
      <script type="text/javascript" async="true"> 
      var strArt = document.getElementById("hidden_blog<%= blog.id %>").innerText;
      var objArt=document.getElementById("blog_content<%= blog.id %>");  
      objArt.innerHTML=strArt; 
      </script>
    </div>
    <p style="text-align:center">
    ......<br />
    </p>

    <p style="color:rgb(188, 54, 10); font-size: 14px;">
      <%= pluralize(blog.comments.count, "comment") %> so far.
    </p>

  </div>
<% end %>

<br />

</div>
</div>
</div>
</div>
