<div class="row">
    <div class="span8 offset5">
<h1>Task Manager</h1>

<div>
<% @tasks.each do |task| %>
<div class="panel panel-success" style="margin-bottom: 10px;">

    <div class="panel-heading">
      <i class="icon-time"></i><a href="/projects/<%= task.project_id %>" class="panel_title"><b style="color: rgb(70, 136, 71);"> <%= is_project_empty? Project.where("id=?",task.project_id).first %></b></a><span class="muted"></span>
    </div>

    <div class="panel-body"> 
        <i class="icon-folder-open"></i>&nbsp;<b style="color: #2a6496; font-size: 18px;"><%= task.name %></b>
        <div style="float:right; font-size: 12px;">
        <%= link_to 'Show', task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %>
        </div>
        <br /><br />
        Start at: <%= is_date_empty? task.start %>&nbsp;&nbsp;&nbsp;&nbsp;
        End at: <%= is_date_empty? task.end %><br />
        -------------------------------------------------------<br />
        <%= is_empty? task.description %><br />
        <br />
    </div>
    <div class="panel-footer"></div>
</div>
<% end %>
</div>
<br />

<%= link_to 'New Task', new_task_path %>

</div>
</div>
