<% provide(:search_context, '') %>
<h1>User List</h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="row">
  <div class="span7 offset5">
    
    <%= render 'user_search/search' %>

    <%= render 'user' %>

    <div class="paginate">
      <%= will_paginate @users, :previous_label => 'Prev', :next_label => "Next" %>
    </div>
<%= link_to 'New User', new_user_path %>

  </div>
</div>
<br />



