<div class="row">
  	<aside class="span4 offset3">
    	<section>
			<h1>
  				<%= gravatar_for @user %>
  				<%= @user.name %>
			</h1>
			
			<%= @user.email %><br />
			<%= link_to 'Edit', edit_user_path(@user) %> |
			<%= link_to 'Back', users_path %>
		</section>
	</aside>
</div>


