<div class="row">
  <div class="span8 offset5">
  
<h1>Time Manager</h1>

<% @projects.each do |project| %>
<div class="panel panel-success" style="margin-bottom: 10px;">  
    <div class="panel-heading">
      <i class="icon-time"></i><a href="/projects/<%= project.id %>" class="panel_title"><b style="color: rgb(70, 136, 71);"> <%= project.name %></b></a><span class="muted"></span>
      <div style="float:right; font-size: 12px;">
          <%= link_to 'Show', project %>
          <%= link_to 'Edit', edit_project_path(project) %>
          <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>  
      </div>
    </div>
    
    <div class="panel-body"> 

    </div>
    <div class="panel-footer"></div>
</div>
<% end %>

<%= link_to 'New Project', new_project_path %>

</div>
</div>
